:root {
    --white-logo-color: #F3F3F3;
    --dark-logo-color: #000000;
    --main-white-color: #ffffff;
    --main-dark-color: #111111;
    --main-bg-color: #F6F6F6;
    --main-dark-bg-color: #202024;
    --accent-color: #4F2EE8;
    --another-accent-color: #EAC645;
    --categories-color: rgba(17, 17, 17, 0.60);
    --paragraf-color: #B4AFAF;
    --backdrop-bg-color: rgba(17, 17, 17, 0.40);
    --messege-color: rgba(0, 0, 0, 0.60);
    --congratulations-color: (rgba(17, 17, 17, 0.50));
}


$white-logo-color: #F3F3F3;
$dark-logo-color: #000000;
$main-white-color: #ffffff;
$main-dark-color: #111111;
$main-bg-color: #F6F6F6;
$main-dark-bg-color: #202024;
$accent-color: #4F2EE8;
$another-accent-color: #EAC645;
$categories-color: rgba(17, 17, 17, 0.60);
$paragraf-color: #B4AFAF;
$backdrop-bg-color: rgba(17, 17, 17, 0.40);
$messege-color: rgba(0, 0, 0, 0.60);
$congratulations-color: (rgba(17, 17, 17, 0.50));