:root {
  --white-logo-color: #f3f3f3;
  --dark-logo-color: #000000;
  --main-white-color: #ffffff;
  --main-dark-color: #111111;
  --main-bg-color: #f6f6f6;
  --main-dark-bg-color: #202024;
  --accent-color: #4f2ee8;
  --another-accent-color: #eac645;
  --categories-color: rgba(17, 17, 17, 0.6);
  --paragraf-color: #b4afaf;
  --backdrop-bg-color: rgba(17, 17, 17, 0.4);
  --messege-color: rgba(0, 0, 0, 0.6);
  --congratulations-color: (rgba(17, 17, 17, 0.5));
}

$white-logo-color: #f3f3f3;
$dark-logo-color: #000000;
$main-white-color: #ffffff;
$main-dark-color: #111111;
$main-bg-color: #f6f6f6;
$main-dark-bg-color: #202024;
$accent-color: #4f2ee8;
$another-accent-color: #eac645;
$categories-color: rgba(17, 17, 17, 0.6);
$paragraf-color: #b4afaf;
$backdrop-bg-color: rgba(17, 17, 17, 0.4);
$messege-color: rgba(0, 0, 0, 0.6);
$congratulations-color: (rgba(17, 17, 17, 0.5));
