<div class="container-support">
  <div class="wraper-title">
    <h3 class="title">Support Ukraine</h3>
    <svg class="logo-icon" width="20" height="32">
      <use href="./images/icons/symbol-defs.svg#icon-gerb"></use>
    </svg>
  </div>
  <div class="swiper mySwiper">
      <ul class="swiper-wrapper js-list list">
      </ul>
    </div>
    <button type="button" class="swiper-button-next show-more">
     <svg class="modal-close-btn-icon" width="22" height="22">
        <use href="./images/icons/symbol-defs.svg#icon-arrow-down"></use>
      </svg>
    </button>
  </div>
    

