// // Default Styles

// ul,
// ol {
//   list-style: none;
// }

// a {
//   text-decoration: none;
// }

/*=============== HEADER ===============*/
.page-header {
  // background-color: #ccc;
  background-color: var(--main-white-color);
  border-radius: 0px 0px 8px 8px;
  border: 1.5px solid #111;
}

.header-container {
  padding-top: 18px;
  padding-bottom: 18px;
  position: relative;
  display: flex;
  align-items: center;
  /* outline: 1px solid teal;*/
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
  // padding: 16px 0;
  margin-right: 144px;
  // font-weight: 700;
  /* font-size: 14px; */
  // line-height: 1.29;
  // letter-spacing: -0.04em;
  // text-transform: uppercase;
  // color: var(--main-dark-color);
  // transition: text-shadow var(--transition-dur-tfunc);
}

.logo-text {
fill: black;

}

.nav-list {
  display: none;
}

.nav-link {
  padding: 16px 0;

  /* font-size: 14px; */
  line-height: 1.29;
  letter-spacing: -0.04em;
  color: var(--color-red);
  transition: text-shadow var(--transition-dur-tfunc);
}

.nav-link:hover,
.nav-link:focus {
  
   text-shadow: 0px 0px 1px var(--color-red);
}


// .logo-container:hover,
// .logo-container:focus {
//   text-shadow: 0px 0px 0.5px var(--color-red);
// }

// .logo-icon {
//   fill: var(--color-red);
// }

// .header-btn {
//   background-color: transparent;
//   border: none;
//   height: 50px;
//   padding: 0;
//   margin-left: auto;
// }

.icon-header {
  fill: var(--main-dark-color);
  // transition: fill var(--transition-dur-tfunc);
}

// .header-btn:hover .icon-header,
// .header-btn:focus .icon-header {
//   fill: #d7052f;
// }

// =============== Theme swicher ===============
.switch {
  margin-right: 14px;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}
// =============== Theme swicher ===============

.menu-button {
  background-color: transparent;
  border: none;
  height: 50px;
  margin: 0;
  padding: 0;
  // margin-left: auto;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

/* .icon-header {
  fill: var(--color-red);
  transition: fill var(--transition-dur-tfunc);
} */

.icon-menu {
  fill: var(--main-dark-color);
  stroke: var(--main-dark-color);
}

.icon-cross {
  stroke: var(--main-dark-color);
}

.mobile-menu-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
  max-width: 375px;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  gap: 16px;
  margin-top: 174px;
}

.mobile-menu-item {
  text-align: center;
}

.mobile-menu-icon {
  fill: #000000;
  stroke: #000000;
}

.mobile-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 24px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-bottom: auto;
}

.overlay {
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 20;
  overflow: auto;
  transform: translateX(-100%);
  transition: transform 250ms linear;
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-color: var(--color-red);
}

.overlay.is-open {
  left: 50%;
  transform: translateX(-50%);
  pointer-events: initial;
  visibility: visible;
  opacity: 1;
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  text-shadow: 0px 0px 1px var(--main-dark-color);
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header-btn {
    display: none;
  }

  .header-container {
    max-width: 375px;
  }

  .page-header {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    gap: 20px;
    align-items: baseline
  }

  .header-container {
    max-width: 768px;
  }

  .nav-list {
    margin-right: 94px;
  }

  .overlay {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    max-width: 1280px;
  }

  .nav-list {
    margin-right: 322px;
  }
}