.list {
    list-style: none;
}
.container {
    margin-top: 670px;
    margin-bottom: 142px;
    margin-left: 24px;
    width: 356px;
    height: 490px;
    border-radius: 16px;
    background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4F2EE8 18.03%, #FFF 100%);
    box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.10);
}
.title {
    padding-bottom: 40px;
    padding-left: 40px;
    padding-top: 24px;
    color: #FFF;
    font-size: 28px;
    font-family: DM Sans;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1.14;
}

.list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // gap: 20px;
    padding-left: 40px;
}
.list-item:nth-child( n + 7){
    display: none;
}

.show-more {
    // display: flex;
    // text-align: center;
    // align-items: center;
    margin-top: 40px;
    
}
.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.normalize-img {
    width: auto; 
   filter: grayscale(100%)invert(50%)brightness(200%);
   &:hover{
    filter: none;
   }
} 
